
body{
    background-color:black;
}
.container{
    width: 80%;
    margin: auto;
    border: 10px solid blue;
    height: 680px;
    background-color: lightblue;
    border-radius: 50px;
}

@media screen and (max-width:400px){
    .container{
        width: 200px;
        margin: auto;
        border: 10px solid blue;
        height: 450px;
        background-color: lightblue;
        border-radius: 20px;
    }
}
h1{
    color:red;
    font-size: 40px;
    font-style: normal;
    margin-left:30% ;
}
@media screen and (max-width:400px){
    h1{
        color:red;
        font-size: 20px;
        font-style: normal;
        margin-left:10% ;
    }
    
}
#search1,#search2,.res{
    width: 99%;
    height: 50px;
    border: 5px solid black;
    font-size: 40px;
    color: green;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 10px;
}

@media screen and (max-width:400px){
    #search1,#search2,.res{
        width: 90%;
        height: 20px;
        border: 5px solid black;
        font-size: 20px;
        color: green;
        margin-top: 2px;
        margin-bottom: 5px;
        background-color: white;
        border-radius: 10px;
    }
}

.operators{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

#plus,#minus,#mult,#div{
    height: 100px;
    width: 100px;
    color: white;
    background-color: black;
    font-size: 50px;
    border-radius: 50px;
    border: 10px,solid;
}

#plus:hover,#minus:hover,#mult:hover,#div:hover{
    background-color:green
}

@media screen and (max-width:400px){
    #plus,#minus,#mult,#div{
        height: 50px;
        width: 50px;
        color: white;
        background-color: black;
        font-size: 20px;
        border-radius: 25px;
        border: 10px,solid;
    }
    
    #plus:hover,#minus:hover,#mult:hover,#div:hover{
        background-color:green
    }
}
